/*Team*/

.team {
  padding: 50px 0;

  background-color: #ffffff;
}

.title-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;

  text-align: center;

  margin-bottom: 15px;
}

.title-bigger {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  text-align: center;

  margin-bottom: 35px;
}

.description-text {
  line-height: 1.56;
  margin-bottom: 45px;

  text-align: center;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__photo-thumb {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__photo-thumb:hover,
.team__photo-thumb:focus {
box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);

 transform: scale(1.025);

transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}



.team__links--hover {
  position: absolute;  
  width: 100%;
  height: 100%;
  transform: translateY(-100%);

  background-color: #00000060;

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__links--hover:hover,
.team__links--hover:focus {
  opacity: 1;
}


.team__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  text-align: center;
  justify-items: center;
}


.team__icon {
  width: 35px;
  height: 35px;
  margin-right: 25px;

  fill: #ffffff;
}

.teammate-thumb {
  padding: 15px 30px;
  text-align: center;
}

.teammate-name {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;

  margin: 0;
  margin-bottom: 15px;
}

.teammate-prof {
  line-height: 1.56;
}