<!--our team-->
<section class="team">
  <div class="container">
    <h2 class="title-small">Who we are</h2>
    <h3 class="title-bigger">Our Professional Team</h3>
    <p class="team-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="teammate-info">
        <img
          src="..\src\images\team1.png"
          alt="Teammate"
          width="420"
          height="280"
        />
        <div class="teammate-thumb">
          <h4 class="teammate-name">John Doe</h4>
          <p class="teammate-prof">President</p>
        </div>
      </li>

      <li class="teammate-info">
        <img
          src="..\src\images\team2.png"
          alt="Teammate"
          width="420"
          height="280"
        />
        <div class="teammate-thumb">
          <h4 class="teammate-name">Jane Doe</h4>
          <p class="teammate-prof">Vice President</p>
        </div>
      </li>

      <li class="teammate-info">
        <img
          src="..\src\images\team3.png"
          alt="Teammate"
          width="420"
          height="280"
        />
        <div class="teammate-thumb">
          <h4 class="teammate-name">Steve Smith</h4>
          <p class="teammate-prof">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
