<!--our team-->
<section class="team">
  <div class="container">
    <h2 class="title-small">Who we are</h2>
    <h3 class="title-bigger">Our Professional Team</h3>
    <p class="description-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__photo-thumb">
          <img
            class="team__photo"
            src="..\src\images\team1.png"
            alt="Teammate"
            width="420"
            height="280"
          />
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="teammate-thumb">
          <h4 class="teammate-name">John Doe</h4>
          <p class="teammate-prof">President</p>
        </div>
      </li>

      <li class="team__item">
        <div class="team__photo-thumb">
          <img
            class="team__photo"
            src="..\src\images\team2.png"
            alt="Teammate"
            width="420"
            height="280"
          />
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate-thumb">
          <h4 class="teammate-name">Jane Doe</h4>
          <p class="teammate-prof">Vice President</p>
        </div>
      </li>

      <li class="team__item">
        <div class="team__photo-thumb">
          <img
            class="team__photo"
            src="..\src\images\team3.png"
            alt="Teammate"
            width="420"
            height="280"
          />
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate-thumb">
          <h4 class="teammate-name">Steve Smith</h4>
          <p class="teammate-prof">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
